<div class="container">
	<form action="/user/singin" method="POST" accept-charset="utf-8" class="form-singin">
		<label>Name</label> 
		<input type="text" name="name" class="form-control" required><br>
		<label>Lastname</label>
		<input type="text" name="lastname" class="form-control" required><br>
		<label>Username</label>
		<input type="text" name="username" class="form-control" required><br>
		<label>Email</label>
		<input type="email" name="email" class="form-control" required><br>
		<br>
		<input class="btn btn-success" type="submit" value="Submit">

	</form>

</div>