<div class="container">
	<h2> Registered Users </h2>
	  <table class="table table-striped table-responsive">
            <thead class = "titles">
              <tr>
                <td class ="name"><strong>Name</strong></td>
                <td class="lastname" ><strong>Lastname</strong></td>
                <td class="username"><strong>Username</strong></td>
                <td class="email"><strong>Email</strong></td>
                <td class="actions"><strong>Actions</strong></td>
              </tr>
            </thead>

            <tbody class="display" >
            </tbody>
          </table>
</div>